#child_of_new, #child_of_statistik{
	display: none;
}
#konten, #menu{
	float: left;
}
#konten{
	width: 850px;
}
#konten_outer{
	overflow: hidden;
	width: 1100px;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(1,1,1,0.1);
}
input[type=text], input[type=password], textarea{
	border:1px solid rgba(0,0,0,0.03);
	padding: 10px;
	font-size: 15px;
	width: 230px;
	min-width: 230px;
	max-width: 230px;
	margin: 1px;
}
input[type=submit],button{
	margin-top: 5px;	
	border: none;
	padding: 10px;
}
#loading{
	display: none;
	padding: 10px;
	text-align: center;
	background: rgba(253, 205, 87, 1);
	border-radius: 5px;
	color: white;
}
#menu{
	width: 250px;
}
#menu_waktu li{
	display: inline-block;
}
#new_pemasukan, #new_pengeluaran{
	display: none;
	width: 300px;
	background: rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 10px;
	text-align: center;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul ul{
	margin-left: 20px;
}
#selambu{
	display: none;
}
table{
	max-width: 850px;
	min-width: 850px;
}
th{
	text-align: left;
}